/* Better to put styles in unscoped app.vue? */

.modal-bodyy {
  position:relative;
  display:block;
  height:fit-content;
  z-index: 3;
  text-align: center;
  background-color: #FEFEFE;
  max-width: 80%;
  margin-top: auto;
  margin-bottom:auto;
  padding: 0px !important;
  border-radius: 15px;
  color: #000000
}